@import url("https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&display=swap");

.bg-grey {
  background-color: grey;
}

.wrapper{
    display:flex;
    justify-content: flex-start;
    margin-top:20px;
}

.wrapper ul{
    list-style: none;
}

.wrapper ul li{
    width: 75px;
    height: 75px;
    line-height: 75px;
    margin: 0 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    /* border: 5px solid ;  */
    float: left;
    transition: all 0.5s ease;

    
}


.wrapper ul li:hover.github{
    border: 5px solid black;
    box-shadow: 0 0 15px  ;
    transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-github{
    color: black;
    text-shadow: 0 0 15px black;
    margin-top: 10px;
    transition: all 0.5s ease;
}

.wrapper ul li:hover.linkedin{
    border: 5px solid  #2867B2;
    box-shadow: 0 0 15px  #2867B2;
    transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-linkedin{
    color:#2867B2;
    text-shadow: 0 0 15px #2867B2;
    margin-top: 10px;
    transition: all 0.5s ease;
}

.wrapper ul li:hover.soundcloud{
    border: 5px solid #ff7700;
    box-shadow: 0 0 15px #ff7700;
    transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-soundcloud{
    color:#ff7700;
    text-shadow: 0 0 15px #ff7700;
    margin-top: 10px;
    transition: all 0.5s ease;
}



#resume{
    margin-top:20px;
}

body {
  font-family: "Lato", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

#profile-name {
  font-weight: 800;
}
#profile-description{
    font-style: oblique;
    font-size: large;
}
#app {
  width: 100%;
  height: 100vh;
  display: flex;
}

#profile {
  height: 100vh;
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#content {
  height: 100vh;
  width: 65%;
  overflow: scroll;
}

#content-1{
  background-color: #151515;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
#content-2{
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
}



.content-section {
  height: 100vh;
}
