@import url("https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&display=swap");

.bg-grey {
  background-color: grey;
}

body {
  font-family: "Lato", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

#profile-name {
  font-weight: 800;
}
#profile-description{
    font-style: oblique;
    font-size: large;
}
#app {
  width: 100%;
  height: 100vh;
  display: flex;
}

#profile {
  height: 100vh;
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#content {
  height: 100vh;
  width: 65%;
  overflow: scroll;
}

#content-1{
  background-color: #151515;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
#content-2{
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
}



.content-section {
  height: 100vh;
}
