@import url("https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&display=swap");

.bg-grey {
  background-color: grey;
}

.wrapper{
    display:flex;
    justify-content: flex-start;
    margin-top:20px;
}

.wrapper ul{
    list-style: none;
}

.wrapper ul li{
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin: 0 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    /* border: 5px solid ;  */
    float: left;
    transition: all 0.5s ease;
}

.wrapper ul li:hover.github{
    border: 2px solid black;
    box-shadow: 0 0 15px  ;
    transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-github{
    color: black;
    text-shadow: 0 0 15px black;
    margin-top: 10px;
    transition: all 0.5s ease;
}

.wrapper ul li:hover.linkedin{
    border: 2px solid  #2867B2;
    box-shadow: 0 0 15px  #2867B2;
    transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-linkedin{
    color:#2867B2;
    text-shadow: 0 0 15px #2867B2;
    margin-top: 10px;
    transition: all 0.5s ease;
}

.wrapper ul li:hover.soundcloud{
    border: 2px solid #ff7700;
    box-shadow: 0 0 15px #ff7700;
    transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-soundcloud{
    color:#ff7700;
    text-shadow: 0 0 15px #ff7700;
    margin-top: 10px;
    transition: all 0.5s ease;
}

.button {
  width: 140px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  /* margin-left: 50px;
  margin-top: 90px;  */
  /* position:relative; */
  }

.button:hover {
  background-color: rgb(46, 144, 229);
  box-shadow: 0px 15px 20px rgba(46, 144, 229, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

#resume{
    margin-top:20px;
}

body {
  font-family: "Lato", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

#profile-name {
  font-weight: 800;
}

@keyframes fadeInLeft {
    from {
        opacity:0;
        -webkit-transform: translatex(-100px);
        -moz-transform: translatex(-100px);
        -o-transform: translatex(-100px);
        transform: translatex(-100px);
    }
    to {
        opacity:1;
        -webkit-transform: translatex(0);
        -moz-transform: translatex(0);
        -o-transform: translatex(0);
        transform: translatex(0);
    }
}
.in-left {
    -webkit-animation-name: fadeInLeft;
    -moz-animation-name: fadeInLeft;
    -o-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    -o-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    -o-animation-duration:0.5s;
    animation-delay: 0.5s;
}
.in-left2{
  -webkit-animation-name: fadeInLeft;
  -moz-animation-name: fadeInLeft;
  -o-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-duration:1s;
  animation-delay: 1s;
}

#profile-description{
    font-style: oblique;
    font-size: large;
}

#app {
  width: 100%;
  height: 100vh;
  display: flex;
}

#profile {
  height: 100vh;
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#content {
  height: 100vh;
  width: 65%;
  overflow: scroll;
}

#content-1{
  background-color: #151515;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}


#music{
  display: inline-block;
  padding: .3em;
  font-family: 'Megrim';
  position: absolute;
  top: 50%;
  left: 65%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
  color: rgba(255,255,255,.68);
  border: .075em solid rgba(255,255,255,.1);
}

.content-section {
  height: 100vh;
}
